ClassesBasicas/ConsoleApp1/Connected Services/ServiceReference1/BibliotecaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClassesBasicas.Usuario" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClassesBasicas.Usuario" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="CpfUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DtNascimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NmTelefone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioBC" nillable="true" type="tns:UsuarioBC" />
  <xs:complexType name="ArrayOfUsuarioBC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioBC" nillable="true" type="tns:UsuarioBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioBC" nillable="true" type="tns:ArrayOfUsuarioBC" />
</xs:schema>