ClassesBasicas/ConsoleApp1/Connected Services/ServiceReference1/BibliotecaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClassesBasicas.Pagamento" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClassesBasicas.Pagamento" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PagamentoBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdPagamento" type="xs:int" />
      <xs:element minOccurs="0" name="ValorPagamento" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagamentoBC" nillable="true" type="tns:PagamentoBC" />
  <xs:complexType name="ArrayOfPagamentoBC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PagamentoBC" nillable="true" type="tns:PagamentoBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPagamentoBC" nillable="true" type="tns:ArrayOfPagamentoBC" />
</xs:schema>