ClassesBasicas/ConsoleApp1/Connected Services/ServiceReference1/BibliotecaService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClassesBasicas.Aluguel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClassesBasicas.Aluguel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AluguelBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="DtEmprestimo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DtEntrega" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AluguelBC" nillable="true" type="tns:AluguelBC" />
  <xs:complexType name="ArrayOfAluguelBC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AluguelBC" nillable="true" type="tns:AluguelBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAluguelBC" nillable="true" type="tns:ArrayOfAluguelBC" />
</xs:schema>