ClassesBasicas/ConsoleApp1/Connected Services/ServiceReference1/BibliotecaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClassesBasicas.Livro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClassesBasicas.Livro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LivroBC">
    <xs:sequence>
      <xs:element name="CodLivro" type="xs:int" />
      <xs:element name="TituloLivro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LivroBC" nillable="true" type="tns:LivroBC" />
  <xs:complexType name="ArrayOfLivroBC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LivroBC" nillable="true" type="tns:LivroBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLivroBC" nillable="true" type="tns:ArrayOfLivroBC" />
</xs:schema>